<!DOCTYPE html>
<html th:replace="~{_fragments/_layoutFile :: layout('Home',~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-9 col-md-8 col-2 ">
    <div class="card border-0">
        <!-- Card body -->
        <div class="card-body p-10 ">
            <div class="text-center">
                <!-- img -->
                <h2>Delete Account</h2>
                <p style="color: red;">Are you sure you want to delete your account?</p>
                <form th:action="@{/delete-profile}" method="post" th:object="${userDto}">
                    <input type="hidden" th:field="*{id}"/>
                    <label for="confirm-delete">Write <strong>"Delete"</strong> to confirm:</label>
                    <input type="text" id="confirm-delete" name="confirmDelete" placeholder="Fshij" required/>
                    <br><br>
                    <button type="submit" style="color: white; background-color: red;">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>