<!DOCTYPE html>
<html th:replace="~{_fragments/_layoutFile :: layout('Home',~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-9 col-md-8 col-2 ">
    <link th:href="@{/assets/css/quiz.css}">
    <div class="card border-0">
        <!-- Card body -->
        <div class="card-body p-10 ">
            <div class="text-center">
                <!-- img -->
                <h1>Edit Account</h1>
                <form th:action="@{/edit-profile}" th:object="${userDto}" method="post">

                    <input type="hidden" th:field="*{id}"/>
                    <!-- Emri -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" th:value="${userDto.name}"
                               required/>
                    </div>

                    <!-- Mbiemri -->
                    <div class="mb-3">
                        <label for="surname" class="form-label">Surname:</label>
                        <input type="text" id="surname" name="surname" class="form-control"
                               th:value="${userDto.surname}" required/>
                    </div>

                    <!-- Data e Lindjes -->
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Birthdate:</label>
                        <input type="date" id="birthdate" name="birthdate" class="form-control"
                               th:value="${userDto.birthdate}" required/>
                        <small>Duhet të jesh midis 16 dhe 110 vjeç</small>
                    </div>

                    <!-- Username -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control"
                               th:value="${userDto.username}" required/>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" th:value="${userDto.email}"
                               required/>
                    </div>

                    <!-- Roli -->
                    <div class="mb-3">
                        <label for="role" class="form-label">Role:</label>
                        <input type="text" id="role" name="role" class="form-control" th:value="${userDto.role}"
                               readonly/>
                        <small>(Role can't be changed)</small>
                    </div>

                    <!-- Butoni për Përditësim -->
                    <button type="submit" class="btn btn-primary">Update Account</button>
                </form>

                <hr>


            </div>
        </div>
    </div>
</div>
</div>
</html>